{% extends "base.html" %}

{% block content %}
<div class="columns">
  <div class="column">
    <h3 class="title">Personal info</h3>
    <div class="box">
       <form method="POST" action="/profile">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first_name" placeholder="First name" autofocus="" value="{{ profile_data[0] }}">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last_name" placeholder="Last name" autofocus="" value="{{ profile_data[1] }}">
                </div>
            </div>
           <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="birth_date" placeholder="Birth date" autofocus="" value="{{ func(profile_data[2]) }}">
                </div>
            </div>
           <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="gender" placeholder="Gender" autofocus="" value="{{ profile_data[3] }}">
                </div>
            </div>
           <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="interests" placeholder="Interests" autofocus="" value="{{ profile_data[4] }}">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="city" placeholder="City" value="{{ profile_data[5] }}">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Update</button>
        </form>
    </div>
  </div>
  <div class="column">
    <h3 class="title">Friends</h3>
      <div class="box">
          {% if friends_data|length == 0 %}
          <p>You don't have any friends yet.</p>
          {% else %}
          <p>Showing a few top friends:</p>
          <table class="table">
                <tbody>
                <tr><td>full name</td><td>age</td><td>gender</td><td>interests</td><td>city</td></tr>

                    {% for user in friends_data %}
                <tr>
                    <td><a style="color:blue;text-decoration: underline;" href="/show_profile?id={{ user[0] }}">{{ user[1] }}</a></td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
          <p>For all friends, visit <a href="{{ url_for('friends.show_friends') }}" style="color:blue;text-decoration: underline;">friends page</a>.</p>
          {% endif %}
          <a href="{{ url_for('friends.search') }}" class="navbar-item" style="color:blue;text-decoration: underline;">friends search</a>
      </div>
  </div>
  <div class="column">
    <h3 class="title">Posts</h3>
      <div class="box">
          top N (ordered by posting date desc)<br>
          see more (-> posts page)
      </div>
  </div>
</div>
{% endblock %}