{% extends "base.html" %}

{% block content %}
<div class="columns">

    <div class="column is-full">
        {% if no_found == 1 %}
            <h5 class="subtitle is-5"><span class="tag is-danger is-light">No friends yet. Try&nbsp;
                <a href="{{ url_for('friends.search') }}" style="color:blue;text-decoration: underline;">searching them</a>&nbsp;first</span></h5>
        {% endif %}
        {% if users is defined %}
        <h3 class="title">Search results</h3>
        <!-- to do: add a column "status": a friend/not a friend -->
        <div class="box">
            <table class="table">
                <tbody>

                <tr><td>full name</td><td>age</td><td>gender</td><td>interests</td><td>city</td></tr>
                    {% for user in users %}
                <tr><td><a style="color:blue;text-decoration: underline;" href="/show_profile?id={{ user[0] }}">{{ user[1] }}</a></td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                </tr>
                    {% endfor %}

            </table>
            <p><span class="pagination-previous">pages:</span> {{ pages | safe }}</p>
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}